body{
    font-family:Helvetica;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    table-layout:fixed;
    width:70%;
}

ul{
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

li{
    border-radius:5px;
    color:#10171C;
    padding:5px;
    margin:5px 0;
}

.month-header{
    background-image:url(https://i.postimg.cc/1Xw67Pj5/Dog-Picture.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:300px;
    text-align:right;
}

.weekday-header{
    background-color:#999;
    border-color:#ddd;
    border-style:solid;
    letter-spacing:1px;
    line-height:25px;
}

.week{
    background-color:#eaeaea;
    height:75px;
    margin:0;
    text-align:left;
    vertical-align:top;
}

.off-day{
    background-color:#ddd;
}

.event_dog-walk{
    background-color:#A6F4FF;
}

.event_school{
    background-color:#BA9CE8;
}

.event_holiday{
    background-color:#E8E193;
}
.event_birthday{
    background-color:#AFFFAD;
}
.event_appointment{
    background-color:#FF7E6D;
}